@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link, .exact-active-link {
  @apply
  border-b-2 border-link_border_hover text-link_text_hover transition-colors text-link rounded-none;
}

@font-face {
  font-family: "Metropolis Regular";
  src: url("./assets/fonts/Metropolis-Regular.woff2");
}

@font-face {
  font-family: "Metropolis Bold";
  src: url("./assets/fonts/Metropolis-Bold.woff2");
}

@font-face {
  font-family: "Work Sans";
  src: url("./assets/fonts/WorkSans-Regular.woff2");
}


@font-face {
  font-family: "Work Sans Bold";
  src: url("./assets/fonts/WorkSans-Bold.woff2");
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.-5s ease;
}

.fade-enter-active {
  transition-delay: 0.05s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

body {
  @apply bg-background text-p_text font-theme selection:bg-selectionBack;
}

div > .router-link-active {
  @apply border-b-2;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.-5s ease;
}

.fade-enter-active {
  transition-delay: 0.05s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

body {
  @apply bg-background text-p_text font-theme selection:bg-selectionBack;
}

div > .router-link-active {
  @apply border-b-2;
}
